
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Submit a Note</title>
</head>
<body>
  <h1>Edit a Note</h1>
  <form action="/notes/update/<%= noteID%>" method="POST">
    
    <label for="title">Note Title:</label><br>
    <input type="text" id="title" name="title" value="<%= note.title%>" required><br><br>

    <label for="content">Note Content:</label><br>
    <textarea id="content" name="content" rows="10" cols="50" required><%= note.content%></textarea><br><br>

    <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="">Select a category</option>
                    <option value="work">Work</option>
                    <option value="personal">Personal</option>
                    <option value="ideas">Ideas</option>
                    <option value="todos">To-dos</option>
                    <option value="other">Other</option>
                </select>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</body>
</html>